@model PrimaryKeyExample.Models.NewUserEdit

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-9">
            @Html.Partial("_HomePage")
        </div>
        <div class="col-md-offset-0 col-sm-9">
            <dl class="dl-horizontal">


                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Aadharnum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Aadharnum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MobileNumber)
                </dd>

            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "DisplayAll")
</p>
