@model IEnumerable<PrimaryKeyExample.Models.NewUserEdit>
@{
    ViewBag.Title = "List";
    //Layout = "~/Views/Shared/_HomePage.cshtml";
}
<div></div>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-9">
            @Html.Partial("_HomePage")
        </div>


        <div class="col-md-offset-0 col-sm-9" >
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Aadharnum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MobileNumber)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aadharnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.NewUserId }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.NewUserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.NewUserId })
                </td>
            </tr>
}

                </table>
            </div>
        </div>
    </div>
</div>