@model PrimaryKeyExample.Models.NewUserEdit

@{
    ViewBag.Title = "DisplayDetails";
}

<div>
    <h4>Hi @Html.DisplayFor(model=>model.Name) </h4>
    <h6>Your Details..</h6>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aadharnum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aadharnum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to HomePage", "Index","Home")  <br />
    @Html.ActionLink("Edit Details?","Edit","NewUserRegister")
</p>
