@model IEnumerable<PrimaryKeyExample.Models.NewUser>

@{
    ViewBag.Title = "DisplayAll";
}

<h2>DisplayAll</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aadharnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aadharnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
    </tr>
}

</table>
